*{
    padding: 0px;
    margin: 0px;
}
.Landing{
    color: black;
    &-tempage{
        height: 70vh;
        width: 100vw;

    }
}
.Navbar{
    &-header{
        background-color: var(--blue);
        font-weight: bold;
        padding: 0.25rem;
        padding-left: 1rem;
    }
    &-content{
        display: flex;
        width: 100vw;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: var(--dark-blue);
        z-index: 10;
        & h1{
            padding: 1rem;
        }
    }
}