*{
    padding: 0px;
    margin: 0px;
}
.App{
    display: flex;
    border: 1px solid red;


}
.Landing{
    &-tempage{
        height: 70vh;
        width: 100vw;

    }
}
.Navbar{
    &-header{
        background-color: var(--blue);
        padding: 1rem;
        font-weight: bold;
    }
    &-content{
        display: flex;
        width: 100vw;
        padding: 1rem;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: var(--dark-blue);

    }
}